

.school-head{
    display: flex;
    justify-content: space-between;
    width:98%;
    height:50px;
    line-height: 50px;
    background:rgba(242,242,242,1);
    margin: 0 auto;
}
.demoTable{
    display: flex;
    justify-content: space-between;
    z-index: 999;
    border-radius: 4px;
}
.layui-table-tool {
    display: none;
}
.layui-groups>.layui-btn{
    width:77px;
    height:30px;
    background:rgba(0,150,136,1);
    border-radius:4px;
    line-height: 30px;
}
.btn-groups{
    margin-left: 20px;
}
.demoTable>.layui-inline>.layui-input{
    border-radius: 5px;
}
