.nav-button{
    width: 12px;
    height: 21px;
}
button.nav-button {
    width: 77px;
    height: 30px;
    color: white;
    background-color: #009688;
    font-size: 14px;
    border: 0;
    border-radius: 6.9px;
}
button.nav-button:hover{
    cursor:pointer
}

