{% extends "base_iframe.html" %}
{% load staticfiles %}
{% block iframe_info %}
    <style>
        .middelfont {
            margin: 0 auto;
        }

        .allimage {
            margin-top: 15px;
            margin-left: 150px;
        }

        .info {
            margin-top: 15px;
            margin-left: 0px;
            padding-right: 20px;
        }
    </style>
    <div class="layui-card">
        {#        <div class="layui-card-header">卡片面板</div>#}
        <div class="layui-card-body">
            <div class="layui-container">
                <div class="layui-row">
                    <div class="layui-col-xs4">
                        <div class="grid-demo grid-demo-bg1">&nbsp;</div>
                    </div>
                    <div class="layui-col-xs4">
                     <div class="grid-demo"><h2 style="margin-top: 20px;"><b style="color: black">融智机器人安装与配置 </b></h2></div>
                    </div>
                    <div class="layui-col-xs4">
                        <div class="grid-demo grid-demo-bg1"></div>
                    </div>

                </div>
                <div class="layui-row">
                    <div class="layui-col-xs12">
                        <div class="grid-demo grid-demo-bg1">

                            <div style=" margin-top:55px;">
                                <a hrerf="javascritp:;"> <img src="{% static 'robotInstall/setup_config_2.png' %}"></a>
                            </div>

                        </div>
                    </div>


                </div>
                <div class="layui-row">
                    <div class="layui-col-xs4">
                        <div class="grid-demo grid-demo-bg1">&nbsp;</div>
                    </div>
                    <div class="layui-col-xs4">
                        <div class="grid-demo">
                            <div style=" margin-top:100px; height: 300px; width: 280px;">
                                <a href="http://support.i-search.com.cn:8090/isrpa_online_world/upload/iS-RPA-Robot-9.0.0.exe">
                                    <img src="{% static 'robotInstall/play.png' %}" style="padding-left:56px;">
                                    <p style="margin-right: 300px; margin-top: 10px;">
                                    <h3 ><b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;点击链接服务器</b></h3>

                                    </p>
                                    <p style="margin-top: 10px;">&nbsp;&nbsp;&nbsp;请打开机器人客户端，选择</p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“设置>服务器地址”</p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;输入“rpa.chinaive.com”</p>


                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs4">
                        <div class="grid-demo grid-demo-bg1">&nbsp;</div>
                    </div>

                </div>


                {#         TODO 按钮下页  返回#}
                <div class="layui-row">
                    <div class="layui-col-xs2">
                        <div class="grid-demo grid-demo-bg1">&nbsp;</div>
                    </div>
                    <div class="layui-col-xs8" style=" float: left; ">
                        <div class="grid-demo" style="float: left">
                            {#                    <button type="button" class="layui-btn layui-btn-radius" style="width: 200px; margin-left: 10px;">默认按钮</button>#}
                            <a href="{% url 'set_config' %}?page=1" class="layui-btn layui-btn-radius"
                               style=" width: 200px;  margin-right: 20px; margin-left: 70px; ">返回</a>
                        </div>

                        <div class="grid-demo grid-demo-bg1" style="padding-left: 10px;">&nbsp;
                            <a href="/set_config?page=3" class="layui-btn layui-btn-radius"
                               style="width: 200px;">设置完成，下一步</a>
                        </div>
                    </div>
{#                    <div class="layui-col-xs3" style="margin-right: 25%">#}
{#                        <div class="grid-demo grid-demo-bg1">&nbsp;#}
{#                            <a href="/set_config?page=3" class="layui-btn layui-btn-radius"#}
{#                               style="width: 200px;">设置完成，下一步</a>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="layui-col-xs4">
                        <div class="grid-demo grid-demo-bg1">&nbsp;
                            {#                    <a href="javascript:;" class="layui-btn layui-btn-radius" style="width: 200px; margin-left: 10px;">设置完成，下一步</a>#}
                            &nbsp;
                        </div>
                    </div>
                </div>
                {#         TODO  查看帮助  #}
                <div class="layui-row">
                    <div class="layui-col-xs4">
                        <div class="grid-demo grid-demo-bg1">&nbsp;</div>
                    </div>
                    <div class="layui-col-xs4">
                        <div class="grid-demo" style="margin-top: 50px; margin-left: 70px;">
                            <a href="javascritp:;"> 查看帮助 </a>
                        </div>
                    </div>
                    <div class="layui-col-xs4">
                        <div class="grid-demo grid-demo-bg1">&nbsp;</div>
                    </div>

                </div>

            </div>
        </div>
    </div>



{% endblock %}
{% block script_info %}
    <script>
        layui.config({
            base: '{% static "/layuiadmin/" %}'
        }).extend({
            index: '/lib/index'
        }).use(['index', 'set']);
    </script>

{% endblock %}
