{% extends "base_iframe.html" %}
{% load staticfiles %}
{% block iframe_info %}
    <style>
        .middelfont {
            margin: 0 auto;
        }

        .allimage {
            margin-top: 15px;
            margin-left: 150px;
        }

        .info {
            margin-top: 15px;
            margin-left: 0px;
            padding-right: 20px;
        }
    </style>

<div class="layui-card">
{#        <div class="layui-card-header">卡片面板</div>#}
        <div class="layui-card-body">
           <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-xs4">
                <div class="grid-demo grid-demo-bg1">&nbsp;</div>
            </div>
            <div class="layui-col-xs4">
               <div class="grid-demo"><h2 style="margin-top: 20px;"><b style="color: black">融智机器人安装与配置 </b></h2></div>
            </div>
            <div class="layui-col-xs4">
                <div class="grid-demo grid-demo-bg1"></div>
            </div>

        </div>
        <div class="layui-row">
            <div class="layui-col-xs12">
                <div class="grid-demo grid-demo-bg1">

                    <div style=" margin-top:50px;">
                        <a hrerf="javascritp:;"> <img src="{% static 'robotInstall/setup_config_4.png' %}"></a>
                    </div>

                </div>
            </div>


        </div>
        <div class="layui-row">
            <div class="layui-col-xs4">
                <div class="grid-demo grid-demo-bg1">&nbsp;</div>
            </div>
            <div class="layui-col-xs4">
                <div class="grid-demo">
                    <div style=" margin-top:100px; height: 300px; width: 280px;">
                        <a href="http://support.i-search.com.cn:8090/isrpa_online_world/upload/iS-RPA-Studio-9.0.0x64.exe">
                            <img src="{% static 'robotInstall/check_mark.png' %}" style="padding-left:58px;">
                            <p style="margin-right: 300px; margin-top: 10px;">
                            <h3><b>恭喜您,机器人的安装配置完成！</b></h3>
                            </p>

                        </a>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs4">
                <div class="grid-demo grid-demo-bg1">&nbsp;</div>
            </div>

        </div>


{#         TODO 按钮下页  返回#}
        <div class="layui-row">
            <div class="layui-col-xs4">
                <div class="grid-demo grid-demo-bg1">&nbsp;</div>
            </div>
            <div class="layui-col-xs4" style=" float: left">
                <div class="grid-demo">
                    {#                    <button type="button" class="layui-btn layui-btn-radius" style="width: 200px; margin-left: 10px;">默认按钮</button>#}
{#                    <a href="{% url 'home_page'  %}?page=3" class="layui-btn layui-btn-radius" style="width: 200px; margin-left: 10px;">立即使用</a>#}
                    <a lay-href="/home_page" class="layadmin-backlog-body layui-btn layui-btn-radius" style="width: 200px; margin-left: 10px;">立即使用</a>

                </div>


            </div>

            <div class="layui-col-xs4">
                <div class="grid-demo grid-demo-bg1">&nbsp;
{#                    <a href="javascript:;" class="layui-btn layui-btn-radius" style="width: 200px; margin-left: 10px;">设置完成，下一步</a>#}
                &nbsp;</div>
            </div>

        </div>
{#         TODO  查看帮助  #}
        <div class="layui-row">
            <div class="layui-col-xs4">
                <div class="grid-demo grid-demo-bg1">&nbsp;</div>
            </div>
            <div class="layui-col-xs4">
                <div class="grid-demo" style="margin-top: 50px; margin-left: 80px;">
                    <a href="javascritp:;"> 查看帮助 </a>
                </div>
            </div>
            <div class="layui-col-xs4">
                <div class="grid-demo grid-demo-bg1">&nbsp;</div>
            </div>

        </div>

    </div>
        </div>
      </div>


{% endblock %}
{% block script_info %}
    <script>
        layui.config({
            base: '{% static "/layuiadmin/" %}'
        }).extend({
            index: '/lib/index'
        }).use(['index', 'set']);
    </script>

{% endblock %}
