<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>第四步</title>
    <link rel="stylesheet" href="../../static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/res/static/css/purchasing.css">
    <style>
        .forn {
            width: 350px;
            margin: 0 auto;
        }

        .atitle > span {
            margin: 0 auto;
        }

        .btn {
            width: 105px;
            height: 39px;
            background: rgba(55, 38, 89, 1);
            border-radius: 4px;
            font-size: 14px;
            text-align: center;
            line-height: 39px;
            border: 0;
            color: #fff;
            cursor: pointer;
            position: absolute;
            left: 44%;
            bottom: 32px;
        }
    </style>
</head>
<body>
<div class="Popout">
    <div class="atitle">
        <span>收款查询</span>
    </div>

    <div style="height: 422px;overflow: auto;padding-top:25px">
        <form class="layui-form forn" action="" lay-filter="component-form-group">
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px 5px 0px;width: 90px;">
                    <span class="xing">*</span>付款方名称：
                </lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <select name="tax_rate" lay-verify="required" lay-filter="revenue" id="revenue"
                            style="width:100%;height: 30px;">
                        <option value="">直接选择或搜索选择</option>
                        <option value="天地建筑工程有限公司">天地建筑工程有限公司</option>
                        <option value="翔辉建筑工程有限公司">翔辉建筑工程有限公司</option>
                        <option value="兴海建筑工程有限公司">兴海建筑工程有限公司</option>
                        <option value="德星建筑工程有限公司">德星建筑工程有限公司</option>
                        <option value="正发建筑工程有限公司">正发建筑工程有限公司</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="padding:5px 13px 5px 0px;width: 97px;"><span
                        class="xing">*</span>发票号码：</label>
                <div class="layui-input-block" style="min-height: 30px;">
                    <select name="tax_rate" lay-verify="required" lay-filter="revenue" id="revenue"
                            style="width:100%;height: 30px;">
                        <option value="">直接选择或搜索选择</option>	
                        <option value="23067901">23067901</option>
                        <option value="23067902">23067902</option>
                        <option value="23067903">23067903</option>
                        <option value="23067904">23067904</option>
                        <option value="23067905">23067905</option>
                        <option value="23067906">23067906</option>
                        <option value="23067907">23067907</option>
                        <option value="23067908">23067908</option>
                        <option value="23067909">23067909</option>
                        <option value="23067910">23067910</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="padding:4px 15px 5px 0px;width: 95px;"><span
                        class="xing">*</span>结账金额：</label>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" name="supplier_name" lay-verify="required|number"
                           class="layui-input" placeholder="请填写您的结账金额"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">结算方式：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" value="网银"
                           style="min-height: 30px;line-height: 30px; height: 30px;" name="company_head">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px 5px 10px;;width: 85px;">操作员：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" value="邹红" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;" name="company_head">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px 5px 10px;;width: 85px;">申请日期：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" value="2018-12-20"
                           style="min-height: 30px;line-height: 30px; height: 30px;" name="application_date">
                </div>
            </div>
            <button class="layui-btn btn" lay-submit="" lay-filter="demo8">提交</button>
        </form>
    </div>
</div>
<script src="../../static/layuiadmin/layui/layui.js"></script>
<script>

    layui.use(['form', 'layedit', 'laydate', 'jquery'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , $ = layui.jquery
            , laydate = layui.laydate;


        //提交验证
        form.on('submit(demo4)', function (data) {
            $.ajax({
                url: "/purchaes_requisitions_create_data",
                type: "post",
                datatype: "json",
                data: $(data.form).serialize(),
                success: function (res) {
                    if (res == 200) {
                        location.href = "/purchaes_requisitions_determine"
                    }
                }
        });
        return false;  //阻止表单跳转。如果需要表单跳转，去掉这段即可。
    });
    });
</script>
</body>
</html>