<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>第十二步</title>
    <link rel="stylesheet" href="../../static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/res/static/css/purchasing.css">
    <style>
        .forn {
            width: 350px;
            margin: 0 auto;
        }

        ul {
            position: absolute;
            top: 95px;
            left: 17px;
        }

        .atitle > span {
            margin: 0 auto;
        }

        .Popout > div > form > p {
            width: 75px;
            margin: 30px auto 15px;
            font-size: 16px;
            text-align: center;
        }

        .Popout > div > form > p:first-child {
            margin-top: 0px;
        }

        .btn {
            width: 105px;
            height: 39px;
            background: rgba(55, 38, 89, 1);
            border-radius: 4px;
            font-size: 14px;
            text-align: center;
            line-height: 39px;
            border: 0;
            color: #fff;
            cursor: pointer;
            position: absolute;
            left: 44%;
            bottom: 32px;
        }
    </style>
</head>
<body>
<div class="Popout">
    <div class="atitle">
        <span>2022年1月1日陆家寅配件A采购与付款业务</span>
    </div>
    <ul>
        <li class="ULI"><a href="javascript:;" class="ULIP"></a></li>
        <li class="ULI"><a href="javascript:;" class="ULIP"></a></li>
        <li class="ULI"><a href="javascript:;" class="ULIP"></a></li>
        <li class="ULI"><a href="javascript:;" class="ULIP"></a></li>
        <li class="ULI"><a href="javascript:;" class="ULIP"></a></li>
        <li class="ULI"><a href="javascript:;" class="ULIP"></a></li>
        <li class="ULI"><a href="javascript:;" class="ULIP"></a></li>
        <li class="ULI"><a href="javascript:;" class="ULIP"></a></li>
        <li class="ULI"><a href="javascript:;" class="ULIP"></a></li>
        <li class="ULI"><a href="javascript:;" class="ULIP"></a></li>
        <li class="ULI"><a href="javascript:;" class="ULIP"></a></li>
        <li class="ULI"><a href="javascript:;" class="ULIP"></a></li>
    </ul>

    <div style="height: 426px;overflow: auto;padding-top:25px">
        <form class="layui-form forn" action="" lay-filter="component-form-group">
            <p>采购申请</p>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">单据编号：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="C10001"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">采购用途：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="生产采购"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">货物名称：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="配件A"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">建议单价：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="￥2500"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">单位：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="个"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">数量：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="200"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">建议金额：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="￥100.00"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">需求日期：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="封边打孔车间"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">申请人：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="陆家寅"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px 5px 10px;;width: 85px;">申请部门：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="车间A"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px 5px 10px;;width: 85px;">申请日期：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="2022/1/1"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <p>采购审批</p>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px 5px 10px;width:85px;">部门负责人：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="王烨"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">审批时间：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="2020/1/1"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px 5px 10px;width:85px;">公司负责人：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="刘温泉"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">审批时间：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="2020/1/1"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <p>合同申请</p>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">合同编号：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="CGHT00001"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">供应商：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="大通厂"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">单价：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="￥100"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">数量：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="1000"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">单位：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="个"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">税率：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="13%"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">总金额：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="113.000.00"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">申请人：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="陆家寅"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">申请部门：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="车间A"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">申请日期：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="2020/1/1"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <p>合同审批</p>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px 5px 10px;width:85px;">部门负责人：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="王烨"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">审批时间：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="2020/1/1"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px 5px 10px;width:85px;">公司负责人：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="刘温泉"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">审批时间：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="2020  /1/1"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <p>点验入库</p>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">入库时间：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="2020/1/1"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px 5px 10px;width:85px;">点验入库人：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="王佳佳"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <p>报销申请</p>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">报销类别：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="材料费"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">报销金额：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="￥133.000"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">费用明细：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="购配件A费用113,000.00元"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">申请日期：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="2020/1/1"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">申请人：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="陆家寅"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">申请部门：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="车间A"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <p>报销审批</p>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px 5px 10px;width:85px;">部门负责人：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="王烨"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">审批日期：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="2020/1/1"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px 5px 10px;width:85px;">部门负责人：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="刘温泉"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">审批日期：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="2020/1/1"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <p>付款申请</p>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">付款金额：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="￥90.000"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">付款方式：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="网银付款"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">支付日期：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="2020/1/1"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">支付对象：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="大通厂"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">开户行：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="北京银行"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">银行账户：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="6289 0001 0299"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">申请人：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="陆家寅"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">申请部门：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="车间A"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">申请人：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="2020/1/1"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <p>付款审批</p>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px 5px 10px;width:85px;">部门负责人：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="王烨"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">审批时间：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="2020/1/2"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px 5px 10px;width:85px;">公司负责人：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="刘温泉"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">审批时间：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input readonly type="text" autocomplete="off" class="layui-input" value="2020/1/2"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
{#            <button class="btn" type="submit" lay-submit="" lay-filter="demo12" onclick="javascript:window.location.href='/purchaes_storage_determine'">提交</button>#}
            <a href="purchasing_robot_business_manager" target="_top" class="layui-btn btn">提交</a>
        </form>

    </div>
</div>
</div>
<script src="../../static/layuiadmin/layui/layui.js"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //监听提交
        form.on('submit(demo12)', function (data) {
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            return false;
        });
    });
</script>
</body>
</html>