<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="../../static/res/layui/css/layui.css" media="all">
     <link rel="stylesheet" href="../../static/res/trainTask/static/css/school-admin.css" media="all">
    <style>
        .table_content {
            width:1615px;
            height:88px;
            background:rgba(250,250,250,1);
            border:1px solid rgba(232,232,232,1);

        }
        .demoTable {
            width:412px;
            height:43px;
        }
        .teach1{
            width:72px;
            height:18px;
            font-size:18px;
            font-family:Microsoft YaHei;
            font-weight:bold;
            color:rgba(51,51,51,1);
            line-height:61px;
            display: flex;
            flex-wrap: nowrap;
            margin-top: 10px;
        }

    </style>
</head>
<body>
    <div class="layui-col-train-teach">
        <div class="layui-card" >
            <div class="layui-card-header" style="width: 1920px"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机器人实训教学 &nbsp;>&nbsp;
                课程管理
            </div>
        </div>
    </div>
    <div class="school-head" id="school-head" style="width: 1651px;height: 50px;margin-top: 5px">
        <div class="btn-groups">
            <div class="layui-groups teach1" >
               <button type="button" class="layui-btn">新增</button>
                <button type="button" class="layui-btn">删除</button>
                 <button type="button" class="layui-btn" style="width: 90px">课程介绍</button>
            </div>
        </div>
        <div class="demoTable search1">
            <div class="layui-inline" style="margin-left: 150px">
                <input class="layui-input" name="id" id="demoReload" autocomplete="off" placeholder="搜索任务名称">
            </div>
            <button class="layui-btn" data-type="reload">搜索</button>
        </div>
    </div>
    <div class="table_content" style="margin: 0 auto;    margin-top: 10px;">
        <table class="layui-table" lay-data="{url:'/test/table/demo2.json?v=3', cellMinWidth: 80, page: true}">
              <thead>
                <tr>
                  <th lay-data="{field:'username', width:80}" rowspan="3">序号</th>
                  <th lay-data="{field:'amount', width:120}" rowspan="3">任务名称</th>
                  <th lay-data="{field:'amount', width:120}" rowspan="3">简介</th>
                  <th lay-data="{align:'center', width:120}" rowspan="3">实训卡/案例</th>
                  <th lay-data="{align:'center'}" colspan="2">实训报告</th>
                  <th lay-data="{align:'center'} " colspan="2">实训卡及案例</th>
                  <th lay-data="{fixed: 'right', width: 160, align: 'center', toolbar: '#barDemo'}" rowspan="3">教学设计</th>
                  <th lay-data="{fixed: 'right', width: 160, align: 'center', toolbar: '#barDemo'}" rowspan="3">课件</th>
                  <th lay-data="{fixed: 'right', width: 160, align: 'center', toolbar: '#barDemo'}" rowspan="3">流程图</th>
                    <th lay-data="{fixed: 'right', width: 160, align: 'center', toolbar: '#barDemo'}" rowspan="3">状态</th>
                </tr>
                <tr>
                    <th lay-data="{align:'center'}" rowspan="2">要求</th>
                    <th lay-data="{align:'center'}" rowspan="2">答案</th>
                </tr>


              </thead>
        </table>
    </div>
     <script type="text/html" id="barDemo">
      <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">按钮1</a>
      <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">按钮2</a>
    </script>



    <script src="../../static/layuiadmin/layui/layui.js"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
        <script>
            layui.use(['table', 'layedit', 'laydate', 'jquery'], function () {
        var table = layui.table
            , layer = layui.layer
            , layedit = layui.layedit
            , $ = layui.jquery
            , laydate = layui.laydate;


        layer.msg(215458)
        console.log(123)


        //方法级渲染
        table.render({
            elem: '#table_user'
            , url: '/course_add'
            , toolbar: 'school-head'
            , max_height: 1000
            ,type:"post"
            , cols: [[
                {checkbox: true, fixed: true}
                , {field: 'a', align:"center",title: '序号', width: "5%",type:'numbers'}
                , {field: 'b', align:"center",title: '任务名称', width: "10%",type:'numbers'}
                , {field: 'c', align:"center",title: '简介', width: "15%"}
                , {field: 'd', align:"center",title: '实训卡/案例', width: "10%"}
                , {field: 'e', align:"center",title: '实训报告',width:"10%"}
                , {field: 'f', align:"center",title: '教学设计', width: "10%"}
                , {field: 'g', align:"center",title: '课件', width: "10%"}
                , {field: 'h', align:"center",title: '流程图', width: "10%"}
                , {field: 'g', align:"center",title: '状态', width: "10%"}
            ]]
            , page: true
        });


        {#let $ = layui.$, active = {#}
        {#    reload: function () {#}
        {#        let demoReload = $('#demoReload');#}
        {##}
        {#        //执行重载#}
        {#        table.reload('testReload', {#}
        {#            page: {#}
        {#                curr: 1 //重新从第 1 页开始#}
        {#            }#}
        {#            , where: {#}
        {#                key: {#}
        {#                    id: demoReload.val()#}
        {#                }#}
        {#            }#}
        {#        }, 'data');#}
        {#    }#}
        {#;#}
        {##}
        {#$('.demoTable .layui-btn').on('click', function(){#}
        {#  let type = $(this).data('type');#}
        {#  active[type] ? active[type].call(this) : '';#}
        {#);#}





    });
        </script>
</body>
</html>