<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学校/新增/修改</title>
    <link rel="stylesheet" href="../../static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/res/static/css/purchasing.css">
    <script type="text/javascript" src="../../static/res/trainTask/static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../../static/res/trainTask/static/js/jquery-3.4.1.js"></script>


    <style>
        .forn {
            width: 350px;
            margin: 0 auto;
        }

        ul {
            position: absolute;
            top: 95px;
            left: 17px;
        }
        .atitle>span{
            width:61px;
            height:15px;
            font-size:14px;
            font-family:Microsoft YaHei;
            font-weight:400;
            color:rgba(51,51,51,1);
        }
        .atitle>button {
            width:27px;
            height:25px;
            border: none;
            background:rgba(248,248,248,1);
            margin-left: 600px;
        }
        .new_update>p {
            width:79px;
            height:16px;
            font-size:16px;
            font-family:Microsoft YaHei;
            font-weight:bold;
            color:rgba(51,51,51,1);
        }
        .btn {
            width: 105px;
            height: 39px;
            background: rgba(55, 38, 89, 1);
            border-radius: 4px;
            font-size: 14px;
            text-align: center;
            line-height: 39px;
            border: 0;
            color: #fff;
            cursor: pointer;
            position: absolute;
            left: 44%;
            bottom: 32px;
        }
    </style>
</head>
<body style="background-color: #FFFFFF">
<div class="Popout" id="add_update_school">
    <div class="new_update">
        <p>新增/修改</p>
    </div>
    <div style="height: 425px;overflow: auto;padding-top:25px">
        <form  class="layui-form forn" action="" lay-filter="component-form-group">
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">学校名称：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input id="school_name" type="text" name="school_name" lay-verify="required|school_name" id="school_name" autocomplete="off" class="layui-input" placeholder="请输入学校名称"
                           style="min-height: 30px;line-height: 20px; height: 20px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">学校代码：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input id="code" type="text" name="school_code" lay-verify="required|school_code"  autocomplete="off" class="layui-input"  placeholder="请输入学校代码"
                           style="min-height: 30px;line-height: 20px; height: 20px;" disabled>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="padding:5px 15px 5px 10px;;width: 85px;"><span class="xing"></span>办学层次：</label>
                <div class="layui-input-block" style="min-height: 30px;">
                    <select name="school_rank" id="school_rank" onblur="abc()" lay-verify="required" lay-filter="school_rank" lay-search="" style="width:100%;height: 30px;">
                        <option style="height: 32px" value="">请选择</option>
                        <option value="本科">本科</option>
                        <option value="高职高专">高职高专</option>
                        <option value="中专">中专</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="padding:5px 15px 5px 10px;;width: 85px;">
                    <span class="xing"></span>办学类型：
                </label>
                <div class="layui-input-block" style="min-height: 30px;">
                    <select name="school_type" id="school_type" lay-verify="required" lay-filter="school_type" lay-search="" onblur="abc()" style="width:100%;height: 30px;">
                        <option style="height: 32px" value="">请选择</option>
                        <option value="公办">公办</option>
                        <option value="民办">民办</option>
                        <option value="独立学院">独立学院</option>
                    </select>
                </div>
            </div>
<!--  所在省份          -->
             <div class="layui-form-item "  >
                <label class="layui-form-label" id="citySel" style="padding:5px 15px 5px 10px;;width: 85px;">
                    <span class="xing"></span>所在省份：
                </label>
                <div   class="layui-input-block" id="str" style="min-height: 30px;">
                    <select  name="Province"   lay-verify="Province" lay-filter="Province" lay-search="" onblur="abc()" id="ddlProvinceId" style="width:100%;height: 30px;">
                        <option   style="height: 32px" value="">请选择</option>
                    </select>
                </div>
            </div>


<!--    所在城市        -->
            <div class="layui-form-item"  id="add" >
                <label class="layui-form-label" style="padding:5px 15px 5px 10px;;width: 85px;">
                    <span class="xing"></span>所在城市：
                </label>
                <div class="layui-input-block"  style="min-height: 30px;">
                    <select  name="school_rank" id="city"  lay-verify="required" lay-filter="school_rank" lay-search="" onblur="abc()"   style="width:100%;height: 30px;">
                        <option style="height: 32px" value="">请选择</option>
                    </select>
                </div>
            </div>
            <!--教务管理员-->
            <div class="layui-form-item">
                <label class="layui-form-label" style="padding:5px 15px 5px 10px;;width: 85px;">
                    <span class="xing"></span>教务管理员：
                </label>
                <div class="layui-input-block" style="min-height: 30px;">
                    <select  name="admin_name" id="administrator" lay-verify="required" lay-filter="edu_admin" lay-search="" style="width:100%;height: 30px;">
                        <option style="height: 32px" value="">请选择</option>

                    </select>
                </div>
            </div>
                  <button class="btn layui-btn" type="button" id="btn" lay-filter="test" lay-submit >提交</button>


        </form>
    </div>
</div>
</div>
<script src="../../static/layuiadmin/layui/layui.js"></script>
<script>

    layui.use(['form', 'layedit', 'laydate', 'jquery'], function () {
        let form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , $ = layui.jquery
            , laydate = layui.laydate;




                 //省份的下拉框
             $(function(){
            $.ajax({
                url: "/province",
                type: "get",
                datatype: "json",
                success: function (res) {
                   // console.log(res)
                    var date = res.result;
                    console.log(date)
                    for ( var i = 0; i <date.length; i++){
                              // console.log(date[i]);
                                $("#ddlProvinceId").append(`<option value="${date[i]}">${date[i]}</option>`)
                    }
                    layui.form.render("select", "component-form-group")
                },
            });
       })
    //    所在城市
             form.on('select(Province)',function(data){
                  $("#city").empty()// 暂时解决重复的问题
                var city=data.value;
                 $.ajax({
                url: "/city",
                type: "get",
                data:{"province_name":city},
                success:function(res){
                    console.log(res.result);
                    var date=res.result
                     for ( var i = 0; i <date.length; i++){

                                $("#city").append(`<option value="${date[i]}">${date[i]}</option>`)
                    }
                     console.log(date);

                      layui.form.render("select", "component-form-group")
                }
            })
            })
        //教务管理员
             $(function(){
            var add = $("#code").val()
            $.ajax({
                url:'/edu',
                type:'get',
                data:{"school_code":add},
                success:function(res){
                      console.log(res.result);
                    var date = res.result
                    for (var i = 0; i < date.length; i++) {
                        $("#administrator").append(`<option value="${date[i]}">${date[i]}</option>`)
                    }
                    layui.form.render("select", "component-form-group")
                }
            })
        })

       //提交form表单
        $('#btn').on('click',function(){
            var school_name = $('#school_name').val()
            var school_code = $('#code').val()
            var school_rank = $('#school_rank').val()
            var school_type = $('#school_type').val()
            var ddlProvinceId = $('#ddlProvinceId').val()
            var city = $('#city').val()
            var administrator = $('#administrator').val()
            console.log(school_rank,school_code,school_name,school_type,ddlProvinceId,city,administrator)
             if(school_name==""||school_code==""||school_rank==""||school_code==""||school_type==""||ddlProvinceId==""||city==""||administrator=="" ){
               layer.msg("选择项不能为空")
            }else{
             $.ajax({
                        url: "/school_revise",
                        type: "get",
                        data:{
                            "school_name":school_name,
                            "school_code":school_code,
                            "school_rank":school_rank,
                            "school_type":school_type,
                            "school_province":ddlProvinceId,
                            "school_city":city,
                            "admin_name":administrator
                        },
                        success:function(res){
                            if(res.result='修改成功'){
                                console.log(res.result)
                                 layer.msg(res.result)
                                console.log("1")
                                setTimeout(function(){
                                      window.parent.location.reload();
                                },100)


                            }else {
                                layer.msg(res.msg)
                            }
                        }
                    })
            }
        })



});
</script>
</body>