<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../static/res/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/res/trainTask/static/css/school-admin.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<div class="layui-col-train-teach">
    <div class="layui-card">
        <div class="layui-card-header" style="width: 1920px"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机器人实训教学 &nbsp;>&nbsp;
            教务管理
        </div>
    </div>
</div>
<div class="school-head" id="school-head">
    <div class="btn-groups">
        <div class="layui-groups">
            <button type="button" class="layui-btn">新增</button>
            <button type="button" class="layui-btn">修改</button>
            <button type="button" class="layui-btn">删除</button>
        </div>
    </div>
    <div class="demoTable">
        <div class="layui-inline">
            <input class="layui-input" name="id" id="demoReload" autocomplete="off" placeholder="搜索任务名称">
        </div>
        <button class="layui-btn" data-type="reload">搜索</button>
    </div>
</div>

<div class="layui-card-body">
    <table class="layui-hide" id="table_user" lay-filter="user"></table>
</div>>

<script src="../../static/res/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['table', 'layedit', 'laydate', 'jquery'], function () {
        var table = layui.table
            , layer = layui.layer
            , layedit = layui.layedit
            , $ = layui.jquery
            , laydate = layui.laydate;


        layer.msg(215458)
        console.log(123)


        //方法级渲染
        table.render({
            elem: '#table_user'
            , url: '/school'
            , toolbar: 'school-head'
            , max_height: 1000
            ,type:"get"
            , cols: [[
                {checkbox: true, fixed: true}
                , {field: 'a', title: '序号', width: "5%"}
                , {field: 'b', title: '学校代码', width: "15%"}
                , {field: 'c', title: '学校名称', width: "15%"}
                , {field: 'd', title: '办学层次', width: "10%"}
                , {field: 'e', title: '办学类型',width:"15%"}
                , {field: 'f', title: '省份', width: "5%"}
                , {field: 'g', title: '城市', width: "5%"}
                , {field: 'h', title: '教务管理员', width: "15%"}
                , {field: 'i', title: '创建人员', width: "15%"}
            ]]
            , page: true
        });

        {#var $ = layui.$, active = {#}
        {#    reload: function () {#}
        {#        var demoReload = $('#demoReload');#}
        {##}
        {#        //执行重载#}
        {#        table.reload('testReload', {#}
        {#            page: {#}
        {#                curr: 1 //重新从第 1 页开始#}
        {#            }#}
        {#            , where: {#}
        {#                key: {#}
        {#                    id: demoReload.val()#}
        {#                }#}
        {#            }#}
        {#        }, 'data');#}
        {#    }#}
        {#;#}

        {#$('.demoTable .layui-btn').on('click', function(){#}
        {#  var type = $(this).data('type');#}
        {#  active[type] ? active[type].call(this) : '';#}
        {#);#}
    });
</script>

</body>
</html>