<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>第一步</title>
    <link rel="stylesheet" href="../../static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/res/static/css/purchasing.css">
    <style>
        .elect{

        }

        .btn {
            width: 105px;
            height: 39px;
            color: #333;
            font-size: 18px;
            font-weight: bold;
            display: block;
            text-align: center;
            margin: auto;
            line-height: 39px;
            cursor: pointer;
        }

        .btn + .btn {
            margin-top: 50px;
        }
    </style>
</head>
<body>
<div class="Popout">
    <div class="atitle">
        <span>选择机器人业务</span>
    </div>
    <div class="elect" style="margin:50px auto 0">
        <a class="btn" href="/inventory_accounting_requisitions_2">费用报销</a>
        <a class="btn" href="/inventory_purchaes_order_4">付款审批</a>
        <a class="btn" href="/inventory_purchaes_storage_6">计提税金</a>
        <a class="btn" href="/inventory_storage_determine_7">税款付款</a>
    </div>
</div>
</body>
</html>