<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>第四步</title>
    <link rel="stylesheet" href="../../static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/res/static/css/purchasing.css">
    <style>
        .forn {
            width: 350px;
            margin: 0 auto;
        }

        .atitle > span {
            margin: 0 auto;
        }

        .btn {
            width: 105px;
            height: 39px;
            background: rgba(55, 38, 89, 1);
            border-radius: 4px;
            font-size: 14px;
            text-align: center;
            line-height: 39px;
            border: 0;
            color: #fff;
            cursor: pointer;
            position: absolute;
            left: 44%;
            bottom: 32px;
        }
    </style>
</head>
<body>
<div class="Popout">
    <div class="atitle">
        <span>物资出库</span>
    </div>

    <div style="height: 422px;overflow: auto;padding-top:25px">
        <form class="layui-form forn" action="" lay-filter="component-form-group">
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px 5px 0px;width: 90px;">
                    <span class="xing">*</span>合同编号：
                </lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <select name="tax_rate" lay-verify="required" lay-filter="revenue" id="revenue"
                            style="width:100%;height: 30px;">
                        <option value="">直接选择或搜索选择</option>
                        <option value="X181201">X181201</option>
                        <option value="X181202">X181202</option>
                        <option value="X181203">X181203</option>
                        <option value="X181204">X181204</option>
                        <option value="X181205">X181205</option>
                        <option value="X181206">X181206</option>
                        <option value="X181207">X181207</option>
                        <option value="X181208">X181208</option>
                        <option value="X181209">X181209</option>
                        <option value="X181210">X181210</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="padding:5px 13px 5px 0px;width: 97px;"><span
                        class="xing">*</span>发票类型：</label>
                <div class="layui-input-block" style="min-height: 30px;">
                    <select name="tax_rate" lay-verify="required" lay-filter="revenue" id="revenue"
                            style="width:100%;height: 30px;">
                        <option value="">直接选择或搜索选择</option>	
                        <option value="增值税专用发票">增值税专用发票</option>
                        <option value="增值税普通发票">增值税普通发票</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="padding:4px 15px 5px 0px;width: 95px;"><span
                        class="xing">*</span>发票单位名称：</label>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" name="supplier_name" lay-verify="required"
                           class="layui-input" placeholder="请填写您的的发票单位名称"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:4px 15px 5px 0px;width: 95px;"><span class="xing">*</span>收票单位税号：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" lay-verify="required" class="layui-input"
                           placeholder="请输入收票单位税号" name="count"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:4px 15px 5px 0px;width: 95px;"><span class="xing">*</span>收票单位地址：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" lay-verify="required" class="layui-input"
                           placeholder="请输入收票单位地址"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:4px 15px 5px 0px;width: 95px;"><span class="xing">*</span>收票单位电话：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" lay-verify="required" class="layui-input"
                           placeholder="请输入收票单位电话"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:4px 15px 5px 0px;width: 95px;"><span class="xing">*</span>收票单位开户行：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" lay-verify="required" class="layui-input"
                           placeholder="请输入收票单位开户行"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:4px 15px 5px 0px;width: 95px;"><span class="xing">*</span>收票单位银行账号：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" lay-verify="required" class="layui-input"
                           placeholder="请输入收票单位银行账号"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;"><span class="xing">*</span>产品名称：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" lay-verify="required" class="layui-input"
                           placeholder="请输入产品名称"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;"><span class="xing">*</span>数量：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" lay-verify="required|number" class="layui-input"
                           placeholder="请输入数量" name="count" id=txtAmount
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;"><span class="xing">*</span>单位：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" lay-verify="required" class="layui-input"
                           placeholder="请输入单位"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:padding:4px 15px 5px 0px;width: 95px;"><span class="xing">*</span>不含税单价：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" lay-verify="required|number" class="layui-input" placeholder="请输入单位" id=txtPrice
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:4px 15px 5px 0px;width: 95px;">总金额(含税)：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" value="0" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;" id=txtTotal name="summary_price">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;"><span class="xing">*</span>发票备注事项：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" lay-verify="required" class="layui-input"
                            value="销售合同编号XXX，2018年X月X签署"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">申请人：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <select name="applicant" lay-verify="required" lay-filter="revenue" id="revenue"
                            style="width:100%;height: 30px;">
                        <option value="">直接选择或搜索选择</option>
                        <option value="李新">李新</option>
                        <option value="邹红">邹红</option>
                        <option value="刘东">刘东</option>
                        <option value="李明">李明</option>
                        <option value="赵利">赵利</option>
                        <option value="李玲">李玲</option>
                        <option value="胡攀">胡攀</option>
                        <option value="纪晶">纪晶</option>
                        <option value="段菊">段菊</option>
                        <option value="王婷">王婷</option>
                        <option value="余静">余静</option>
                        <option value="刘霞">刘霞</option>
                        <option value="李蓉">李蓉</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">申请部门：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <select name="application_sector" lay-verify="required" lay-filter="revenue" id="revenue"
                            style="width:100%;height: 30px;">
                        <option value="">直接选择或搜索选择</option>
                        <option value="总经办">总经办</option>
                        <option value="财务部">财务部</option>
                        <option value="人力资源">人力资源</option>
                        <option value="质检部">质检部</option>
                        <option value="一车间">一车间</option>
                        <option value="二车间">二车间</option>
                        <option value="三车间">三车间</option>
                        <option value="维修车间">维修车间</option>
                        <option value="销售部">销售部</option>
                        <option value="仓储部">仓储部</option>
                        <option value="采购部">采购部</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px 5px 10px;;width: 85px;">申请日期：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" value="2018-12-20"
                           style="min-height: 30px;line-height: 30px; height: 30px;" name="application_date">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px 5px 10px;;width: 85px;">部门负责人：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <select name="application_sector" lay-verify="required" lay-filter="revenue" id="revenue"
                            style="width:100%;height: 30px;">
                        <option value="">直接选择或搜索选择</option>
                        <option value="潘英">潘英</option>
                        <option value="周宇">周宇</option>
                        <option value="潘英">潘英</option>
                        <option value="张穹">张穹</option>
                        <option value="李林">李林</option>
                        <option value="徐蓉">徐蓉</option>
                        <option value="高月">高月</option>
                        <option value="田平">田平</option>
                        <option value="王英">王英</option>
                        <option value="王英">王英</option>
                        <option value="王英">王英</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px 5px 10px;;width: 85px;">公司负责人：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" value="周宇" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;" name="company_head">
                </div>
            </div>
            <button class="layui-btn btn" lay-submit="" lay-filter="demo4">提交</button>
        </form>
    </div>
</div>
<script src="../../static/layuiadmin/layui/layui.js"></script>
<script>

    layui.use(['form', 'layedit', 'laydate', 'jquery'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , $ = layui.jquery
            , laydate = layui.laydate;


        //提交验证
        form.on('submit(demo4)', function (data) {
            location.href = "/inventory_order_determine_5";
        });
        return false;  //阻止表单跳转。如果需要表单跳转，去掉这段即可。
    });


     //计算总价方式
     function checkInt(o) {
        theV = isNaN(parseInt(o.value)) ? 0 : parseInt(o.value);
        if (theV != o.value) {
            o.value = theV;
        }
        txtTotal.value = txtAmount.value * txtPrice.value;
    }

    function checkP(o) {
        theV = isNaN(parseFloat(o.value)) ? 0 : parseFloat(o.value);
        theV = parseInt(theV * 100) / 100;
        if (theV != o.value) {
            theV = (theV * 100).toString();
            theV = theV.substring(0, theV.length - 2) + "." + theV.substring(theV.length - 2, theV.length)
            o.value = theV;
        }
        txtTotal.value = txtAmount.value * txtPrice.value;
    }

</script>
</body>
</html>