<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>第四步</title>
    <link rel="stylesheet" href="../../static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/res/static/css/purchasing.css">
    <style>
        .forn {
            width: 350px;
            margin: 0 auto;
        }

        .atitle > span {
            margin: 0 auto;
        }

        .btn {
            width: 105px;
            height: 39px;
            background: rgba(55, 38, 89, 1);
            border-radius: 4px;
            font-size: 14px;
            text-align: center;
            line-height: 39px;
            border: 0;
            color: #fff;
            cursor: pointer;
            position: absolute;
            left: 44%;
            bottom: 32px;
        }
    </style>
</head>
<body>
<div class="Popout">
    <div class="atitle">
        <span>物资出库</span>
    </div>

    <div style="height: 422px;overflow: auto;padding-top:25px">
        <form class="layui-form forn" action="" lay-filter="component-form-group">
            <div class="layui-form-item">
                <label class="layui-form-label" style="padding:5px 13px 5px 0px;width: 97px;"><span
                        class="xing">*</span>出库类别：</label>
                <div class="layui-input-block" style="min-height: 30px;">
                    <select name="tax_rate" lay-verify="required" lay-filter="revenue" id="revenue"
                            style="width:100%;height: 30px;">
                        <option value="">直接选择或搜索选择</option>
                        <option value="销售出库">销售出库</option>
                        <option value="生产出库">生产出库</option>
                        <option value="其他出库">其他出库</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px 5px 0px;width: 90px;">
                    <span class="xing">*</span>合同编号：
                </lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" name="contract_number" lay-verify="required"
                           class="layui-input" placeholder="请填写编号"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="padding:5px 15px 5px 10px;;width: 85px;"><span
                        class="xing">*</span>客户名称：</label>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" name="supplier_name" lay-verify="required"
                           class="layui-input" placeholder="请填写你的名称"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;"><span class="xing">*</span>数量：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" lay-verify="required|number" class="layui-input"
                           placeholder="请输入数量" onkeyup="abc()" id="numbar" name="count"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;"><span class="xing">*</span>单位：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" lay-verify="required" class="layui-input"
                           placeholder="请输入单位"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="padding:5px 13px 5px 0px;width: 97px;"><span
                        class="xing">*</span>仓库名称：</label>
                <div class="layui-input-block" style="min-height: 30px;">
                    <select name="tax_rate" lay-verify="required" lay-filter="revenue" id="revenue"
                            style="width:100%;height: 30px;">
                        <option value="">直接选择或搜索选择</option>
                        <option value="200">材料库</option>
                        <option value="100">产品库</option>
                        <option value="300">资产库</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px 5px 0px;width: 95px;"><span
                        class="xing">*</span>发货日期：
                </lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" lay-verify="required" class="layui-input"
                           value="2018-12-20" name="free_tax_unit_price"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">申请人：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <select name="applicant" lay-verify="required" lay-filter="revenue" id="revenue"
                            style="width:100%;height: 30px;">
                        <option value="">直接选择或搜索选择</option>
                        <option value="李新">李新</option>
                        <option value="邹红">邹红</option>
                        <option value="刘东">刘东</option>
                        <option value="李明">李明</option>
                        <option value="赵利">赵利</option>
                        <option value="李玲">李玲</option>
                        <option value="胡攀">胡攀</option>
                        <option value="纪晶">纪晶</option>
                        <option value="段菊">段菊</option>
                        <option value="王婷">王婷</option>
                        <option value="余静">余静</option>
                        <option value="刘霞">刘霞</option>
                        <option value="李蓉">李蓉</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">申请部门：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <select name="application_sector" lay-verify="required" lay-filter="revenue" id="revenue"
                            style="width:100%;height: 30px;">
                        <option value="">直接选择或搜索选择</option>
                        <option value="总经办">总经办</option>
                        <option value="财务部">财务部</option>
                        <option value="人力资源">人力资源</option>
                        <option value="质检部">质检部</option>
                        <option value="一车间">一车间</option>
                        <option value="二车间">二车间</option>
                        <option value="三车间">三车间</option>
                        <option value="维修车间">维修车间</option>
                        <option value="销售部">销售部</option>
                        <option value="仓储部">仓储部</option>
                        <option value="采购部">采购部</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px 5px 10px;;width: 85px;">申请日期：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" value="2018-12-20"
                           style="min-height: 30px;line-height: 30px; height: 30px;" name="application_date">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px 5px 10px;;width: 85px;">部门负责人：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <select name="application_sector" lay-verify="required" lay-filter="revenue" id="revenue"
                            style="width:100%;height: 30px;">
                        <option value="">直接选择或搜索选择</option>
                        <option value="潘英">潘英</option>
                        <option value="周宇">周宇</option>
                        <option value="潘英">潘英</option>
                        <option value="张穹">张穹</option>
                        <option value="李林">李林</option>
                        <option value="徐蓉">徐蓉</option>
                        <option value="高月">高月</option>
                        <option value="田平">田平</option>
                        <option value="王英">王英</option>
                        <option value="王英">王英</option>
                        <option value="王英">王英</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px 5px 10px;;width: 85px;">公司负责人：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" value="李宏" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;" name="company_head">
                </div>
            </div>
            {#            <a class="btn" href="purchaes_order_determine" class="layui-btn">提交</a>#}
            <button class="layui-btn btn" lay-submit="" lay-filter="demo4">提交</button>
        </form>
    </div>
</div>
<script src="../../static/layuiadmin/layui/layui.js"></script>
<script>

    layui.use(['form', 'layedit', 'laydate', 'jquery'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , $ = layui.jquery
            , laydate = layui.laydate;


        //提交验证
        form.on('submit(demo4)', function (data) {
             $.ajax({
                url: "/sales_created_data_goods",
                type: "post",
                datatype: "json",
                data: $(data.form).serialize(),
                success: function (res) {
                    if (res == 200) {
                        location.href = "/sales_created_agree_goods"
                    }
                }
            });

        });
        return false;  //阻止表单跳转。如果需要表单跳转，去掉这段即可。
    });


    //jsua1
    function abc() {
        var myselect = document.getElementById("revenue");//拿到select对象：
        var index = myselect.selectedIndex; //拿到选中项的索引： selectedIndex代表的是你所选中项的index
        var revenue = Number(myselect.options[index].value); //拿到选中项options的value：
        var money = Number(document.getElementById("money").value);
        var num = Number(document.getElementById("numbar").value);

        if (money > 0 && num > 0) {
            var txtTotal = document.getElementById("txtTotal");
            txtTotal.value = (money * num * (revenue / 100 + 1)).toFixed(2);
        }
    }

</script>
</body>
</html>