{% extends "base_iframe.html" %}
{% load staticfiles %}
{% block iframe_info %}
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">销售机器人基础设置</div>
                    <div class="layui-card-body" pad15 style="height: 1000px;">
                        <form class="layui-form">
                            {% csrf_token %}
                            <div class="layui-form-item" style="margin-bottom: 5px;">
                                <label class="layui-form-label" style="width: 200px;">U8软件安装路径:</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="u8_install_path"
                                           value="C:\ProgramData\Microsoft\Windows\Start Menu\Programs\用友U8V10.1"
                                           class="layui-input" style="width: 600px;">
                                </div>
                            </div>
                            <div class="layui-form-item" style="width: 800px;">
                                <p class="layui-form-label" style="width: 600px; margin-left: 215px;">
                                    默认安装路径为：C:\ProgramData\Microsoft\Windows\Start Menu\Programs\用友U8V10.1</p>
                            </div>

                            {#                           //登录公司名称#}
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width: 200px;">默认账套:&nbsp;&nbsp;&nbsp;</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="account_set" value="[002](default)星辉家具有限责任公司"
                                           class="layui-input" style="width: 600px;">
                                </div>
                            </div>

                            {#                              TODO  纳税人识别号#}
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width: 200px;">操作员:&nbsp;&nbsp;&nbsp;</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="operator" value="000001" class="layui-input"
                                           style="width: 600px;">
                                </div>
                            </div>

                            {#                            //TODO　　登陆密码#}
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width: 200px;">密码:&nbsp;&nbsp;&nbsp;</label>
                                <div class="layui-input-inline">
                                    <input type="password" name="password" class="layui-input" placeholder="请输入您的账套密码"
                                           style="width: 600px;">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block" style="margin-left: 29%;">
                                    <button lay-submit="" lay-filter="save" class="layui-btn"
                                            style="width: 100px;">保存
                                    </button>
                                    {#<button type="reset" class="layui-btn layui-btn-primary">重新填写</button>#}
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <hr>
                                <sapn style="margin-left: 174px;font-weight: bold">提示：
                                    以上配置信息必须正确无误，如有变化，须立即修改，否则机器人将无法正常执行。
                                </sapn>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script_info %}
    <script>
        layui.config({
            base: '{% static "/layuiadmin/" %}'
        }).extend({
            index: '/lib/index'
        }).use(['index', 'set']);

        layui.use(['form', 'layedit', 'jquery'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , $ = layui.jquery;

            //提交验证
            form.on('submit(save)', function (data) {
                //通用表单提交(AJAX方式)
                $.ajax({
                    url: "/Sales_robot_base_data",
                    type: "post",
                    data: $(data.form).serialize(),
                    success: function (data) {
                        if(data.fail==4444){
                            alert(data.msg)
                        }else{
                            alert("保存成功")
                        }
                    }
                });
                return false;  //阻止表单跳转。
            });
        })
    </script>
{% endblock %}
