<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>第八步</title>
    <link rel="stylesheet" href="../../static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/res/static/css/purchasing.css">
    <style>
        .forn {
            width: 350px;
            margin: 0 auto;
        }

        ul {
            position: absolute;
            top: 95px;
            left: 17px;
        }

        .atitle > span {
            margin: 0 auto;
        }

        .btn {
            width: 105px;
            height: 39px;
            background: rgba(55, 38, 89, 1);
            border-radius: 4px;
            font-size: 14px;
            text-align: center;
            line-height: 39px;
            border: 0;
            color: #fff;
            cursor: pointer;
            position: absolute;
            left: 44%;
            bottom: 32px;
        }

        .layui-upload-img {
            width: 92px;
            height: 92px;
            margin: 0 10px 10px 0;
        }
    </style>
</head>
<body>
<div class="Popout">
    <div class="atitle">
        <span>采购报销申请</span>
    </div>
    <ul>
        <li class="ULI"><a href="javascript:;" class="ULIP"></a></li>
        <li class="ULI"><a href="javascript:;" class="ULIP"></a></li>
        <li class="ULI"><a href="javascript:;" class="ULIP"></a></li>
        <li class="ULI"><a href="javascript:;" class="ULIP"></a></li>
        <li class="ULI"><a href="javascript:;" class="ULIP"></a></li>
        <li class="ULI"><a href="javascript:;" class="ULIP"></a></li>
        <li class="ULI"><a href="javascript:;" class="ULIP"></a></li>
        <li><a href="javascript:;"></a></li>
        <li><a href="javascript:;"></a></li>
        <li><a href="javascript:;"></a></li>
    </ul>

    <div style="height: 420px;overflow: auto;padding-top:25px">
        <form class="layui-form forn" action="" lay-filter="component-form-group">
            <div class="layui-form-item">
                <label class="layui-form-label" style="padding:5px 15px 5px 2px;width: 93px;"><span
                        class="xing">*</span>关联合同号：</label>
                <div class="layui-input-block" style="min-height: 30px;">
                    <select name="modules" lay-verify="required" lay-search="" style="width:100%;height: 30px;">
                        <option style="height: 32px" value="">直接选择或搜索选择</option>
                        <option value="1">CG-2020110328</option>
                        <option value="2">CG-2020120101</option>
                        <option value="3">CG-2020120102</option>
                        <option value="4">CG-2020120608</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;"><span class="xing">*</span>发票号码：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" lay-verify="required" class="layui-input"
                           placeholder="请填写您的发票号码！" name=""
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;"><span class="xing">*</span>报销类别：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" lay-verify="required" class="layui-input"
                           placeholder="如：差旅费、材料费"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;"><span class="xing">*</span>报销金额：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" placeholder="请填写您的金额"
                           style="min-height: 30px;line-height: 30px; height: 30px;" name="money"
                           lay-verify="required|number|money">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;"><span class="xing">*</span>费用明细：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" lay-verify="required" class="layui-input"
                           placeholder="请介绍消费明细"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">申请日期：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" value="2020/12/17  9:15:10" disabled
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">申请人：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" value="纪晶" disabled
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">申请部门：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" value="封边打孔车间（二车间）" disabled
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px 5px 10px;;width: 85px;">部门负责人：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" value="徐蓉" disabled
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px 5px 10px;;width: 85px;">公司负责人：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" value="孙鸿" disabled
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <button class="layui-btn btn" type="submit" lay-submit="" lay-filter="demo8">提交</button>
            {#            <a class="btn" href="purchaes_reimburse_determine" class="layui-btn">提交</a>#}
        </form>
    </div>
</div>
</div>
<script src="../../static/layuiadmin/layui/layui.js"></script>
<script>
    layui.use(['form', 'layedit', 'laydate','jquery'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , $ = layui.jquery
            , laydate = layui.laydate;


        //自定义验证规则
        form.verify({
            //报销金额
            money: function (value) {
                if (!new RegExp("^((\\d+(\.\\d?[1-9])?)|(\\d*[1-9]\\d*\\.\\d{0,2}))$").test(value)) {
                    return '价格大于0,且最多有两位小数'
                }
            }
        });
        //监听提交
        form.on('submit(demo8)', function (data) {
            //通用表单提交(AJAX方式)
            $.ajax({
                url: "/purchaes_reimburse_create_data",
                type: "post",
                data: $(data.form).serialize(),
                success: function () {
                    location.href = "/purchaes_reimburse_determine";
                }
            });
        });
    });

    layui.use('upload', function () {
        var $ = layui.jquery
            , upload = layui.upload;

        //拖拽上传
        upload.render({
            elem: '#test10'
            , url: '/upload/'
            , done: function (res) {
                console.log(res)
            }
        });
    })
</script>
</body>
</html>