<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>报销申请</title>
    <link rel="stylesheet" href="../../static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/res/static/css/purchasing.css">
    <style>
        .forn {
            width: 350px;
            margin: 0 auto;
        }

        .atitle > span {
            margin: 0 auto;
        }

        .btn {
            width: 105px;
            height: 39px;
            background: rgba(55, 38, 89, 1);
            border-radius: 4px;
            font-size: 14px;
            text-align: center;
            line-height: 39px;
            border: 0;
            color: #fff;
            cursor: pointer;
            position: absolute;
            left: 44%;
            bottom: 32px;
        }

        ul {
            position: absolute;
            left: 18px;
            list-style: none;
            padding: 0;
            height: 410px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        ul > li {
            width: 14px;
            height: 14px;
            border: 1px solid #b7b7b7;
            border-radius: 50%;
            display: flex;
        }


        ul > li > p {
            width: 8px;
            height: 8px;
            background: #b7b7b7;
            border-radius: 50%;
            margin: auto;
        }

        .borli {
            border: 1px solid rgb(55, 38, 89);
        }

        .borp {
            background: rgb(55, 38, 89);
        }
    </style>
</head>
<body>
<div class="Popout">
    <div class="atitle">
        <span>报销申请</span>
    </div>
    <ul>
        <li class="borli"><p class="borp"></p></li>
        <li class="borli"><p class="borp"></p></li>
        <li class="borli"><p class="borp"></p></li>
        <li class="borli"><p class="borp"></p></li>
        <li class="borli"><p class="borp"></p></li>
        <li><p></p></li>
    </ul>
    <div style="height: 320px;overflow: auto;padding-top:25px">
        <form class="layui-form forn" action="" lay-filter="component-form-group">
            <div class="layui-form-item">
                <label class="layui-form-label" style="padding:5px 15px 5px 2px;width: 93px;">采购合同号：</label>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" name="contract_number" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="padding:5px 15px 5px 2px;width: 93px;">支付类别：</label>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" name="" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="padding:5px 15px 5px 2px;width: 93px;">收款单位名称：</label>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" name="" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="padding:5px 15px 5px 2px;width: 93px;">发票类型：</label>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" name="reimbursement_type" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">发票号码：</lable>
                 <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" name="incoive_number" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">费用明细：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" name="money_details" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">报销金额：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" name="reimbursement_money" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">申请日期：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" name="application_date" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">申请人：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" name="application" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">申请部门：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" value="二车间" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;" name="application_sector">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px 5px 10px;;width: 85px;">部门负责人：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" value="徐蓉" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;" name="department_head">
                </div>
            </div>
            <div class="layui-form-item" style="display: none">
                <lable class="layui-form-label" style="padding:5px 15px 5px 10px;;width: 85px;">公司负责人：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" name="supplier_name" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item" style="display: none">
                <lable class="layui-form-label" style="padding:5px 15px 5px 10px;;width: 85px;">案例编号：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" name="" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item" style="display: none">
                <lable class="layui-form-label" style="padding:5px 15px 5px 10px;;width: 85px;">机器人名称：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" name="job_type" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;" value="报账机器人">
                </div>
            </div>
            <button class="layui-btn btn" lay-submit="" lay-filter="demo8">下一步</button>
        </form>
    </div>
</div>
</div>
<script src="../../static/layuiadmin/layui/layui.js"></script>
<script>
    layui.use(['form', 'layedit', 'laydate', 'jquery'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , $ = layui.jquery
            , laydate = layui.laydate;


        $(function () {
            $.ajax({
                url: "/invoice_by_purchase_number",
                type: "post",
                datatype: "json",
                success: function (res) {
                    console.log(res)
                    var date = res.data[0];
                    for (let index in date) {
                        $("#contract").append(`<option value="${date[index]}">${(date[index])[1]}</option>`)
                    }
                    layui.form.render("select", "component-form-group");//更新 lay-filter="xmFilter" 所在容器内的全部 select 状态
                }
            });
        });

        //监听提交
        form.on('submit(demo8)', function (data) {
            //通用表单提交(AJAX方式)
            $.ajax({
                url: "/purchaes_reimburse_create_data",
                type: "post",
                data: $(data.form).serialize(data),
                success: function () {
                    if (data.fail == 4444) {
                        layer.msg("此合同已被占用请另选择！");
                    } else {
                        location.href = "/purchaes_payment_create";
                    }
                }
            });
            return false;
        });

    });
</script>
</body>
</html>