<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>采购合同</title>
    <link rel="stylesheet" href="../../static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/res/static/css/purchasing.css">
    <style>
        .forn {
            width: 350px;
            margin: 0 auto;
        }

        .atitle > span {
            margin: 0 auto;
        }

        .btn {
            width: 105px;
            height: 39px;
            background: rgba(55, 38, 89, 1);
            border-radius: 4px;
            font-size: 14px;
            text-align: center;
            line-height: 39px;
            border: 0;
            color: #fff;
            cursor: pointer;
            position: absolute;
            left: 44%;
            bottom: 32px;
        }

        ul {
            position: absolute;
            left: 18px;
            list-style: none;
            padding: 0;
            height: 410px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        ul > li {
            width: 14px;
            height: 14px;
            border: 1px solid #b7b7b7;
            border-radius: 50%;
            display: flex;
        }


        ul > li > p {
            width: 8px;
            height: 8px;
            background: #b7b7b7;
            border-radius: 50%;
            margin: auto;
        }

        .borli {
            border: 1px solid rgb(55, 38, 89);
        }

        .borp {
            background: rgb(55, 38, 89);
        }
    </style>
</head>
<body>
<div class="Popout">
    <div class="atitle">
        <span>采购合同</span>
    </div>
    <ul>
        <li class="borli"><p class="borp"></p></li>
        <li class="borli"><p class="borp"></p></li>
        <li class="borli"><p class="borp"></p></li>
        <li><p></p></li>
        <li><p></p></li>
        <li><p></p></li>
    </ul>
    <div style="height: 315px;overflow: auto;padding-top:25px">
        <form class="layui-form forn" action="" lay-filter="component-form-group">
            <div class="layui-form-item">
                <label class="layui-form-label" style="padding:5px 15px 5px 2px;width: 93px;">请购单编号：</label>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" name="purchase_number" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">合同编号：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" name="contract_number" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="padding:5px 15px 5px 10px;;width: 85px;">供应商：</label>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" name="supplier_name" class="layui-input" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="padding:5px 15px 5px 10px;;width: 85px;">货物名称：</label>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" name="" class="layui-input" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px 5px 0px;width: 95px;">不含税单价：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" name="free_tax_unit_price" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">数量：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" name="count"
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">单位：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" name=""
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="padding:5px 13px 5px 0px;width: 97px;">税率/征收率：</label>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" name="tax_rate" class="layui-input" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:4px 15px 5px 0px;width: 95px;">总金额(含税)：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" name="summary_price" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="padding:5px 15px;">需求日期：</label>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" name="demand_date" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;">

                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">申请人：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" name="applicant" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px;">申请部门：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" name="application_sector" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px 5px 10px;;width: 85px;">申请日期：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" name="application_date" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px 5px 10px;;width: 85px;">部门负责人：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" name="department_head" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="padding:5px 15px;">审批日期：</label>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" name="" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;">

                </div>
            </div>
            <div class="layui-form-item">
                <lable class="layui-form-label" style="padding:5px 15px 5px 10px;;width: 85px;">公司负责人：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" name="company_head" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="padding:5px 15px;">审批日期：</label>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" name="" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;">

                </div>
            </div>
            <div class="layui-form-item" style="display: none">
                <lable class="layui-form-label" style="padding:5px 15px 5px 10px;;width: 85px;">案例编号：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" name="" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;">
                </div>
            </div>
            <div class="layui-form-item" style="display: none">
                <lable class="layui-form-label" style="padding:5px 15px 5px 10px;;width: 85px;">机器人名称：</lable>
                <div class="layui-input-block" style="min-height: 30px;">
                    <input type="text" autocomplete="off" class="layui-input" name="job_type" readonly
                           style="min-height: 30px;line-height: 30px; height: 30px;" value="订货机器人">
                </div>
            </div>
            <button class="layui-btn btn" lay-submit="" lay-filter="demo4">下一步</button>
        </form>
    </div>
</div>
<script src="../../static/layuiadmin/layui/layui.js"></script>
<script>

    layui.use(['form', 'layedit', 'laydate', 'jquery'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , $ = layui.jquery
            , laydate = layui.laydate;

        //提交验证
        form.on('submit(demo4)', function (data) {
            //通用表单提交(AJAX方式)
            $.ajax({
                url: "/purchaes_order_create_data",
                type: "post",
                data: $(data.form).serialize(),
                success: function (data) {
                    if (data.fail == 4444) {
                        layer.msg("关联请购单编号错误，请重新选择")
                    } else {
                        location.href = "/purchaes_storage_create";
                    }
                }
            });
            return false;  //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });


    })

</script>
</body>
</html>